<footer>
  <div class="row m-0 h-100">
    <div class="col-md-4 col-sm-12 p-0">
      <img src="/assets/utils/shape-footer.png" class="brands-shape">
    </div>
    <div class="col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
      <div class="logo d-flex flex-column">
        <img src="/assets/vectors/logo.png" class="align-self-center" alt="">
        <p class="text-uppercase text-white text-center">SEOOUL.COM</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 p-0">
      <div class="nav mt-4">
        <div class="nav-item p-0">
          <a href="#" class="nav-link">Giới thiệu</a>
        </div>
        <div class="nav-item">
          <a href="#" class="nav-link">Quyền riêng tư</a>
        </div>
        <div class="nav-item">
          <a href="#" class="nav-link">Quy định</a>
        </div>
        <div class="nav-item">
          <a href="#" class="nav-link">Bản quyền</a>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-3 mb-3">
        <img src="/assets/vectors/socialsites.png">
      </div>
      <div class="text-center text-gold">Tin tức mỹ phẩm số 1 tại Việt Nam</div>
      <div class="text-center text-white">Copyright ©2017 Seooul. All Rights Reserved.</div>
    </div>
  </div>
</footer>
