<div class="row mt-90 mb-5">
  <div class="col-md-8 col-sm-12 d-flex justify-content-center">
    <!-- TODO: Backend Integration-->
    <div class="w-50 d-flex justify-content-end">
      <img src="/assets/imgs/Scream.png" class="align-self-center">
    </div>
    <div class="main-info w-50 mt-5">
      <div class="title">
        <div class="h1 text-uppercase text-dark topic">So Sánh</div>
        <div class="h1 text-dark pt-0 mt-0">Kem dưỡng trắng Rosa 2018</div>
      </div>
      <p class="m-4 mw-100">Xin chào các cô gái. Lần này mình quay lại với một bài viết mới, không chỉ review nữa, mà lần này sẽ so sánh giữa 2 sản phẩm cũ và mới nhé! Đọc tiêu đề chắc hẳn các bạn đã biết nhân vật chính lần này là ai rồi phải không, đó chính là kem dưỡng trắng da Rosa từ gia đình Seoulrose.</p>
      <div class="d-flex justify-content-between">
        <a href="#" class="m-4 text-uppercase">Xem thêm <span class="oi oi-media-play ml-3"></span></a>
        <div class="date-box mr-5 align-self-center"></div>
      </div>
      <div class="border border-top-0 border-dark ml-4 mt-4"></div>
      <div class="category ml-4 mt-3">Chuyên mục: Dưỡng da</div>
    </div>
  </div>
  <div class="col-md-4 col-sm-12">
    <div class="row mt-5">
      <div class="col-md-5 offset-md-3">
        <div class="border border-top-0 border-dark"></div>
        <div class="h1 float-right primary-color text-right"><b>TIN</b> HOT</div></div>
    </div>
  </div>
</div>
