<div class="row mt-90">
  <div class="col-2 offset-1">
    <div class="ml-4 news-type h2 text-uppercase border border-bottom-0 border-left-0 border-right-0 border-dark pt-2"><b>Tin</b> Mới</div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-3 offset-1">
    <ul class="list-group ml-4 text-news">
      <li class="list-group-item bg-transparent border-0 ml-0 pl-0">A.P.A.L Time Cover Foundwear Serum Cushion SPF 50+</li>
      <li class="list-group-item bg-transparent border-0 ml-0 pl-0">Rosie thì chưa bao giờ làm các nàng thất vọng nè</li>
      <li class="list-group-item bg-transparent border-0 ml-0 pl-0">Sản phẩm trị mụn và trắng da TSS CARE Phyto Acne</li>
      <li class="list-group-item bg-transparent border-0 ml-0 pl-0">Tinh Chất Dưỡng Da Pure C+ Vitamin C Ampoule</li>
      <li class="list-group-item bg-transparent border-0 ml-0 pl-0">MUA 1 TẶNG 1 SON MATTE KISS</li>
    </ul>
  </div>
  <div class="col-6 offset-1">
    <div class="row">
      <div class="col-6">
        <ul class="list-group media-news">
          <li class="list-group-item">So sánh kem dưỡng trắng Rosa 2018 mới <span class="oi oi-video"></span> </li>
          <li class="list-group-item">Mặt nạ thủy hợp, sức mạnh mới cho làn da. <span class="oi oi-image"></span> </li>
          <li class="list-group-item">Mặt nạ cấp nước cỏ biển Rosie. <span class="oi oi-video"></span> </li>
          <li class="list-group-item">Set quà tình yêu Valentines <span class="oi oi-video"></span> </li>
        </ul>
        <div class="news-type-2 d-flex mt-5 text-center">
          <div class="c-1 font-weight-bold text-uppercase">Ảnh</div>
          <div class="c-2 align-self-center">&</div>
          <div class="c-3 align-self-end text-uppercase">Video</div>
        </div>
      </div>
      <div class="col-6">
        <img src="/assets/imgs/latest1.png" alt="">
        <div class="description mt-5 d-flex justify-content-center flex-column">
          Kem vitamin C của MEDISKINBYC:<br> PURE C+ Whitening Recovery Cream
        </div>
      </div>
    </div>
  </div>
</div>
