<div class="row mt-90">
  <div class="col-2 offset-1">
    <div class="ml-4 news-type h2 text-uppercase border border-bottom-0 border-left-0 border-right-0 border-dark"><b>Tin</b> Xem Nhiều</div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-lg-5 offset-1 col-md-12">
    <img src="/assets/imgs/trending1.png" class="ml-4">
  </div>
  <div class="col-lg-5 col-md-12">
    <ul class="list-group">
      <li class="list-group-item d-flex flex-column justify-content-center">
        <p class="d-flex justify-content-center align-items-center mt-3">Cùng ROSIE và MATTE KISS chinh phục châu âu !</p>
        <img src="/assets/imgs/trending2.png" class="position-absolute">
      </li>
      <li class="list-group-item d-flex flex-column justify-content-center mt-2">
        <p class="d-flex justify-content-center align-items-center mt-3">Từng bừng NOEL cùng 2.B.O EVERMATTE LIPSTICK.</p>
        <img src="/assets/imgs/trending3.png" class="position-absolute">
      </li>
      <li class="list-group-item d-flex flex-column justify-content-center mt-2">
        <p class="d-flex justify-content-center align-items-center mt-3">Son K-LIP Seoul Version 2.0 “Nụ hôn của gió”. </p>
        <img src="/assets/imgs/trending4.png" class="position-absolute">
      </li>
    </ul>
  </div>
</div>
