<div class="row mt-90">
  <div class="col-3 offset-1">
    <div class="ml-4 news-type h2 text-uppercase border border-bottom-0 border-left-0 border-right-0 border-dark pt-2"><b>Bản Tin</b> Seooul</div>
  </div>
</div>
<div class="row">
  <div class="col-8 offset-1">
    <p class="ml-4 intro">Beautisens là trang thông tin về mỹ phẩm và làm đẹp Hàn Quốc có uy tín dành cho người Việt duy nhất và đầu tiên đến từ Seoul, Hàn Quốc - thủ đô làm đẹp của thế giới</p>
    <p class="ml-4 source">(Theo CNN  và The New Yorker)</p>
  </div>
</div>
<div class="row d-flex news justify-content-start">
  <img src="/assets/imgs/news2.png" class="mr-4">
  <img src="/assets/imgs/news6.png" class="mr-4">
</div>
<div class="row d-flex news justify-content-center">
  <img src="/assets/imgs/news3.png" class="ml-4">
  <img src="/assets/imgs/news6.png" class="ml-4">
  <img src="/assets/imgs/news7.png" class="ml-4">
</div>
<div class="row d-flex news justify-content-end">
  <img src="/assets/imgs/news5.png" class="ml-4">
  <img src="/assets/imgs/news6.png" class="ml-4">
</div>
